*{
    padding: 0;
    margin: 0;
}

.topmenu {
    text-align: center;
}

.topmenu nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    background-color: #F7EEE9;
}

.topmenu nav > a {
    color: black;
    padding: 0 15px; /* Adicionado espaçamento horizontal aos links */
    font-family: 'Marvin VTF Pro', sans-serif;
    font-size: 13px;
    letter-spacing: 1.1px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.topmenu nav .dropdown > a {
    color: black;
    padding: 0 15px; /* Adicionado espaçamento horizontal aos links */
    font-family: 'Marvin VTF Pro', sans-serif;
    font-size: 13px;
    letter-spacing: 1.1px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.topmenu nav ul .item{
    color: black;
    padding-right: -20px; /* Adicionado espaçamento horizontal aos links */
    font-family: 'Marvin VTF Pro', sans-serif;
    font-size: 13px;
    letter-spacing: 1.1px;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

.topmenu ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}


/* ICONES MENU */
.topmenu ul .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -35px; /* Reduzindo o espaçamento à direita */
}

.topmenu ul .item a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-color: hsl(203, 92%, 97%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid hsl(203, 92%, 97%);
    overflow: hidden;
}


  .topmenu ul .item a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }

  .topmenu ul .item:hover a::before {
    scale: 1 1;
  }

.topmenu ul .item a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: filter 0.5s ease, transform 0.5s ease;
}

.topmenu ul .item a:hover img {
    filter: brightness(0) invert(1);
    transform: rotateY(360deg);
}

  .topmenu ul .item a:hover span {
    filter: brightness(0) invert(1);
    transform: rotateY(360deg);
  }

  .topmenu ul .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }

  .topmenu ul .item:nth-child(2) {
    --bg-color: #0077b5;
  }

  .topmenu ul .item:nth-child(3) {
    --bg-color: #ff0000;
  }

  .topmenu ul .item:nth-child(4) {
    --bg-color: #000;
  }


/* Estilo do ícone de flecha para baixo */
.topmenu nav a .arrow-down {
    display: inline-block;
    font-size: 10px; /* Ajusta o tamanho do ícone */
}

 /* Estilo específico para o menu suspenso */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Mostrar o menu suspenso ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para os itens do menu suspenso */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cor diferente ao passar o mouse sobre os itens do menu suspenso */
.dropdown-content a:hover {
    background-color: #ddd;
}



/*HEADER*/

.header {

    width: 300px;
    height: 150px;
    background-image: url('/Imagens/HeaderImg.png');
    background-size: cover; /* Cobrir completamente o contêiner */
    background-position: center; /* Centralizar a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

.header h1 {
    color: black;
    font-family: 'Cookie', cursive; /* Adicionando a fonte */ /* Adicionando a fonte */
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    transform: rotate(-5deg); /* Inclinar a fonte em -5 graus */
    margin: 0;
}
